body {
  color: #5a5a5a;
  /* color: white; */
}

/* Center align the text within the three columns below the jumbotron */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* responsive css */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media screen and (min-width: 577px) {
  h1,
  .jumbo-name {
    font-size: 40px;
  }

  h2,
  .jumbo-description {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  h1,
  .jumbo-name {
    font-size: 55px;
  }
}

@media screen and (max-width: 576px) {
  h1,
  .jumbo-name {
    font-size: 28px;
  }
  h2,
  .jumbo-description {
    font-size: 23px;
  }
  .btn-size {
    font-size: 15px;
    height: 50px;
    width: 117px;
    line-height: 16px;
  }
}

.jumbo-about {
  width: 60%;
  margin: auto;
  margin-bottom: 4rem;
}

.jumbo-name {
  font-weight: 400;
}

.jumbo-description {
  margin-top: auto;
}

.btn-size {
  margin-top: auto;
}

.about-img {
  height: 11rem;
  width: 11rem;
}

/* featurette images */
.featurette-img {
  height: auto;
  width: auto;
}
