/* portfolio font  */
body {
  font-family: "Open Sans", sans-serif;
}

/* font sizes for responsiveness */
@media screen and (min-width: 577px) {
  h1 {
    font-size: 27px;
  }

  h6 {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2 {
    font-size: 25px;
  }
}

/* contact info section */
.contact-border-background {
  border-left: solid;
  border-left-color: gray;
  background-color: #5680e9;
  opacity: 0.89;
}

.contact-header {
  color: white;
}

.submit-background {
  background-color: #c1c8e4;
  opacity: 0.89;
}

.img-size {
  max-height: 223px;
  max-width: 223px;
  object-fit: contain;
}
