/* footer, footer paragraph, and general inquiries container */
footer,
footer p {
  background-color: #05386b;
}

footer {
  border-top: solid;
  border-color: #314455;
  border-width: 6px;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.95;
}

footer p {
  color: rgb(108, 117, 125);
}
