/* navbar background colors */
.nav-index {
  background-color: #379683;
  opacity: 0.95;
}

.nav-portfolio {
  background-color: #5d5c61;
  opacity: 0.95;
}

.nav-contact {
  background-color: #44318d;
  opacity: 0.95;
}

/* navbar brand, submit button, and contact info font color */
.navbar-brand {
  color: white;
  opacity: 0.95;
}

.navBarCustom {
  font-size: 28px;
}

/* unvisited link */
a:link {
  color: rgb(115, 36, 206);
  /* font-size: 1.1rem; */
}

/* visited link */
a:visited {
  color: #123c69;
}

/* hover pseudoclass for when a user hovers the mouse pointer over the link */
a:hover {
  color: red;
  font-size: 2rem;
}

/* focus pseudoclass for when a user tabs over the links. When tabbed over, these links will change to the specified font-size and color*/
a:focus {
  font-size: 2rem;
  color: green;
}

/* active pseudoclass for a link that has been selected (mouse click pressed but not released) */
a:active {
  color: orange;
}

/* background images for each page */
.bg-index {
  background-image: url("./images/matrix-background.png");
}

.bg-contact {
  background-image: url("./images/coding-background.jpg");
  opacity: 0.8;
}

.bg-portfolio {
  background-image: url("./images/cloud-background.png");
}

.bg-index,
.bg-contact,
.bg-portfolio {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
