/* navbar background colors */
.nav-index {
  background-color: #379683;
  opacity: 0.95;
}

.nav-contact {
  background-color: #44318d;
  opacity: 0.95;
}

/* navbar brand, submit button, and contact info font color */
.navbar-brand {
  color: white;
  opacity: 0.95;
}

.nav-bar-custom {
  font-size: 28px;
}

/* background images for each page */
.bg-index {
  background-image: url("./images/matrix-background.png");
  opacity: 0.07;
}

.bg-contact {
  background-image: url("./images/coding-background.jpg");
  opacity: 0.8;
}

.bg-portfolio {
  background-image: url("./images/cloud-background.png");
}

.bg-index,
.bg-contact,
.bg-portfolio {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
