/* portfolio font  */
body {
  font-family: "Open Sans", sans-serif;
}

/* font sizes for responsiveness */
@media screen and (min-width: 577px) {
  h1 {
    font-size: 27px;
  }

  h6 {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2 {
    font-size: 25px;
  }
}

/* portfolio container background color */
.portfolio-background {
  background-color: rgb(52, 58, 64);
}

/* github links for portfolio */
.position-stick {
  position: sticky;
  top: 15px;
}

/* for main section header titles except contact info */
/* h1 {
  color: #2e151b;
} */

/* unvisited link */
a:link {
  color: turquoise;
  /* font-size: 1.1rem; */
}

/* visited link */
a:visited {
  color: tomato;
}

/* hover pseudoclass for when a user hovers the mouse pointer over the link */
a:hover {
  color: red;
}

/* focus pseudoclass for when a user tabs over the links. When tabbed over, these links will change to the specified font-size and color*/
a:focus {
  color: green;
}

/* active pseudoclass for a link that has been selected (mouse click pressed but not released) */
a:active {
  color: orange;
}

.main-edit {
  width: auto;
  margin: 0;
}
